In [16]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import json

url = "https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696"
response = requests.get(url)

response

In [17]:
soup = BeautifulSoup(response.text, "html.parser")

In [18]:
wow = soup.find("div", {"id": "detail"})

Wow = list(wow.find_all("td"))
Wow[0],Wow[3],Wow[6],Wow[9]

sts = []
for i,val in enumerate(Wow[0::3]):
    sts.append(val)

abbs = []
for i,val in enumerate(Wow[1::3]):
    abbs.append(val)
    
codes = []
for i,val in enumerate(Wow[2::3]):
    codes.append(val)

ohboy = list(zip(sts,codes))
#ohboy[0][0].replace("<td")

In [19]:
wow.get_text()

'\nState FIPS Codes\n\n\n\n\n\r\n\t\t\t\tName\n\r\n\t\t\t\tPostal Code\n\r\n\t\t\t\tFIPS\n\n\n\r\n\t\t\t\tAlabama\n\r\n\t\t\t\tAL\n\r\n\t\t\t\t01\n\n\n\r\n\t\t\t\tAlaska\n\r\n\t\t\t\tAK\n\r\n\t\t\t\t02\n\n\n\r\n\t\t\t\tArizona\n\r\n\t\t\t\tAZ\n\r\n\t\t\t\t04\n\n\n\r\n\t\t\t\tArkansas\n\r\n\t\t\t\tAR\n\r\n\t\t\t\t05\n\n\n\r\n\t\t\t\tCalifornia\n\r\n\t\t\t\tCA\n\r\n\t\t\t\t06\n\n\n\r\n\t\t\t\tColorado\n\r\n\t\t\t\tCO\n\r\n\t\t\t\t08\n\n\n\r\n\t\t\t\tConnecticut\n\r\n\t\t\t\tCT\n\r\n\t\t\t\t09\n\n\n\r\n\t\t\t\tDelaware\n\r\n\t\t\t\tDE\n\r\n\t\t\t\t10\n\n\n\r\n\t\t\t\tFlorida\n\r\n\t\t\t\tFL\n\r\n\t\t\t\t12\n\n\n\r\n\t\t\t\tGeorgia\n\r\n\t\t\t\tGA\n\r\n\t\t\t\t13\n\n\n\r\n\t\t\t\tHawaii\n\r\n\t\t\t\tHI\n\r\n\t\t\t\t15\n\n\n\r\n\t\t\t\tIdaho\n\r\n\t\t\t\tID\n\r\n\t\t\t\t16\n\n\n\r\n\t\t\t\tIllinois\n\r\n\t\t\t\tIL\n\r\n\t\t\t\t17\n\n\n\r\n\t\t\t\tIndiana\n\r\n\t\t\t\tIN\n\r\n\t\t\t\t18\n\n\n\r\n\t\t\t\tIowa\n\r\n\t\t\t\tIA\n\r\n\t\t\t\t19\n\n\n\r\n\t\t\t\tKansas\n\r\n\t\t\t\tKS\n\r\n\t\t\t\t20\n\n\n\r\n\t\t\t\tKentucky\n\r\n\t\t\t\tKY\n\r\n\t\t\t\t21\n\n\n\r\n\t\t\t\tLouisiana\n\r\n\t\t\t\tLA\n\r\n\t\t\t\t22\n\n\n\r\n\t\t\t\tMaine\n\r\n\t\t\t\tME\n\r\n\t\t\t\t23\n\n\n\r\n\t\t\t\tMaryland\n\r\n\t\t\t\tMD\n\r\n\t\t\t\t24\n\n\n\r\n\t\t\t\tMassachusetts\n\r\n\t\t\t\tMA\n\r\n\t\t\t\t25\n\n\n\r\n\t\t\t\tMichigan\n\r\n\t\t\t\tMI\n\r\n\t\t\t\t26\n\n\n\r\n\t\t\t\tMinnesota\n\r\n\t\t\t\tMN\n\r\n\t\t\t\t27\n\n\n\r\n\t\t\t\tMississippi\n\r\n\t\t\t\tMS\n\r\n\t\t\t\t28\n\n\n\r\n\t\t\t\tMissouri\n\r\n\t\t\t\tMO\n\r\n\t\t\t\t29\n\n\n\r\n\t\t\t\tMontana\n\r\n\t\t\t\tMT\n\r\n\t\t\t\t30\n\n\n\r\n\t\t\t\tNebraska\n\r\n\t\t\t\tNE\n\r\n\t\t\t\t31\n\n\n\r\n\t\t\t\tNevada\n\r\n\t\t\t\tNV\n\r\n\t\t\t\t32\n\n\n\r\n\t\t\t\tNew Hampshire\n\r\n\t\t\t\tNH\n\r\n\t\t\t\t33\n\n\n\r\n\t\t\t\tNew Jersey\n\r\n\t\t\t\tNJ\n\r\n\t\t\t\t34\n\n\n\r\n\t\t\t\tNew Mexico\n\r\n\t\t\t\tNM\n\r\n\t\t\t\t35\n\n\n\r\n\t\t\t\tNew York\n\r\n\t\t\t\tNY\n\r\n\t\t\t\t36\n\n\n\r\n\t\t\t\tNorth Carolina\n\r\n\t\t\t\tNC\n\r\n\t\t\t\t37\n\n\n\r\n\t\t\t\tNorth Dakota\n\r\n\t\t\t\tND\n\r\n\t\t\t\t38\n\n\n\r\n\t\t\t\tOhio\n\r\n\t\t\t\tOH\n\r\n\t\t\t\t39\n\n\n\r\n\t\t\t\tOklahoma\n\r\n\t\t\t\tOK\n\r\n\t\t\t\t40\n\n\n\r\n\t\t\t\tOregon\n\r\n\t\t\t\tOR\n\r\n\t\t\t\t41\n\n\n\r\n\t\t\t\tPennsylvania\n\r\n\t\t\t\tPA\n\r\n\t\t\t\t42\n\n\n\r\n\t\t\t\tRhode Island\n\r\n\t\t\t\tRI\n\r\n\t\t\t\t44\n\n\n\r\n\t\t\t\tSouth Carolina\n\r\n\t\t\t\tSC\n\r\n\t\t\t\t45\n\n\n\r\n\t\t\t\tSouth Dakota\n\r\n\t\t\t\tSD\n\r\n\t\t\t\t46\n\n\n\r\n\t\t\t\tTennessee\n\r\n\t\t\t\tTN\n\r\n\t\t\t\t47\n\n\n\r\n\t\t\t\tTexas\n\r\n\t\t\t\tTX\n\r\n\t\t\t\t48\n\n\n\r\n\t\t\t\tUtah\n\r\n\t\t\t\tUT\n\r\n\t\t\t\t49\n\n\n\r\n\t\t\t\tVermont\n\r\n\t\t\t\tVT\n\r\n\t\t\t\t50\n\n\n\r\n\t\t\t\tVirginia\n\r\n\t\t\t\tVA\n\r\n\t\t\t\t51\n\n\n\r\n\t\t\t\tWashington\n\r\n\t\t\t\tWA\n\r\n\t\t\t\t53\n\n\n\r\n\t\t\t\tWest Virginia\n\r\n\t\t\t\tWV\n\r\n\t\t\t\t54\n\n\n\r\n\t\t\t\tWisconsin\n\r\n\t\t\t\tWI\n\r\n\t\t\t\t55\n\n\n\r\n\t\t\t\tWyoming\n\r\n\t\t\t\tWY\n\r\n\t\t\t\t56\n\n\n\r\n\t\t\t\tAmerican Samoa\n\r\n\t\t\t\tAS\n\r\n\t\t\t\t60\n\n\n\r\n\t\t\t\tGuam\n\r\n\t\t\t\tGU\n\r\n\t\t\t\t66\n\n\n\r\n\t\t\t\tNorthern Mariana Islands\n\r\n\t\t\t\tMP\n\r\n\t\t\t\t69\n\n\n\r\n\t\t\t\tPuerto Rico\n\r\n\t\t\t\tPR\n\r\n\t\t\t\t72\n\n\n\r\n\t\t\t\tVirgin Islands\n\r\n\t\t\t\tVI\n\r\n\t\t\t\t78\n\n\n\n\r\n\t< Back to About Our Maps\n\n\n'

In [20]:
wowtext = wow.get_text().replace("\n","").replace("\t","").replace("\r","  ")
wowtext

'State FIPS Codes  Name  Postal Code  FIPS  Alabama  AL  01  Alaska  AK  02  Arizona  AZ  04  Arkansas  AR  05  California  CA  06  Colorado  CO  08  Connecticut  CT  09  Delaware  DE  10  Florida  FL  12  Georgia  GA  13  Hawaii  HI  15  Idaho  ID  16  Illinois  IL  17  Indiana  IN  18  Iowa  IA  19  Kansas  KS  20  Kentucky  KY  21  Louisiana  LA  22  Maine  ME  23  Maryland  MD  24  Massachusetts  MA  25  Michigan  MI  26  Minnesota  MN  27  Mississippi  MS  28  Missouri  MO  29  Montana  MT  30  Nebraska  NE  31  Nevada  NV  32  New Hampshire  NH  33  New Jersey  NJ  34  New Mexico  NM  35  New York  NY  36  North Carolina  NC  37  North Dakota  ND  38  Ohio  OH  39  Oklahoma  OK  40  Oregon  OR  41  Pennsylvania  PA  42  Rhode Island  RI  44  South Carolina  SC  45  South Dakota  SD  46  Tennessee  TN  47  Texas  TX  48  Utah  UT  49  Vermont  VT  50  Virginia  VA  51  Washington  WA  53  West Virginia  WV  54  Wisconsin  WI  55  Wyoming  WY  56  American Samoa  AS  60  Guam  GU  66  Northern Mariana Islands  MP  69  Puerto Rico  PR  72  Virgin Islands  VI  78  < Back to About Our Maps'

In [21]:
wowtext2 = wowtext[wowtext.find('Alabama'):]
wowtext2

'Alabama  AL  01  Alaska  AK  02  Arizona  AZ  04  Arkansas  AR  05  California  CA  06  Colorado  CO  08  Connecticut  CT  09  Delaware  DE  10  Florida  FL  12  Georgia  GA  13  Hawaii  HI  15  Idaho  ID  16  Illinois  IL  17  Indiana  IN  18  Iowa  IA  19  Kansas  KS  20  Kentucky  KY  21  Louisiana  LA  22  Maine  ME  23  Maryland  MD  24  Massachusetts  MA  25  Michigan  MI  26  Minnesota  MN  27  Mississippi  MS  28  Missouri  MO  29  Montana  MT  30  Nebraska  NE  31  Nevada  NV  32  New Hampshire  NH  33  New Jersey  NJ  34  New Mexico  NM  35  New York  NY  36  North Carolina  NC  37  North Dakota  ND  38  Ohio  OH  39  Oklahoma  OK  40  Oregon  OR  41  Pennsylvania  PA  42  Rhode Island  RI  44  South Carolina  SC  45  South Dakota  SD  46  Tennessee  TN  47  Texas  TX  48  Utah  UT  49  Vermont  VT  50  Virginia  VA  51  Washington  WA  53  West Virginia  WV  54  Wisconsin  WI  55  Wyoming  WY  56  American Samoa  AS  60  Guam  GU  66  Northern Mariana Islands  MP  69  Puerto Rico  PR  72  Virgin Islands  VI  78  < Back to About Our Maps'

In [22]:
wowtext3 = wowtext2[:wowtext2.find(' <')]
wowtext3

'Alabama  AL  01  Alaska  AK  02  Arizona  AZ  04  Arkansas  AR  05  California  CA  06  Colorado  CO  08  Connecticut  CT  09  Delaware  DE  10  Florida  FL  12  Georgia  GA  13  Hawaii  HI  15  Idaho  ID  16  Illinois  IL  17  Indiana  IN  18  Iowa  IA  19  Kansas  KS  20  Kentucky  KY  21  Louisiana  LA  22  Maine  ME  23  Maryland  MD  24  Massachusetts  MA  25  Michigan  MI  26  Minnesota  MN  27  Mississippi  MS  28  Missouri  MO  29  Montana  MT  30  Nebraska  NE  31  Nevada  NV  32  New Hampshire  NH  33  New Jersey  NJ  34  New Mexico  NM  35  New York  NY  36  North Carolina  NC  37  North Dakota  ND  38  Ohio  OH  39  Oklahoma  OK  40  Oregon  OR  41  Pennsylvania  PA  42  Rhode Island  RI  44  South Carolina  SC  45  South Dakota  SD  46  Tennessee  TN  47  Texas  TX  48  Utah  UT  49  Vermont  VT  50  Virginia  VA  51  Washington  WA  53  West Virginia  WV  54  Wisconsin  WI  55  Wyoming  WY  56  American Samoa  AS  60  Guam  GU  66  Northern Mariana Islands  MP  69  Puerto Rico  PR  72  Virgin Islands  VI  78 '

In [23]:
wowtext4 = wowtext3.split("  ")
print(wowtext4)

['Alabama', 'AL', '01', 'Alaska', 'AK', '02', 'Arizona', 'AZ', '04', 'Arkansas', 'AR', '05', 'California', 'CA', '06', 'Colorado', 'CO', '08', 'Connecticut', 'CT', '09', 'Delaware', 'DE', '10', 'Florida', 'FL', '12', 'Georgia', 'GA', '13', 'Hawaii', 'HI', '15', 'Idaho', 'ID', '16', 'Illinois', 'IL', '17', 'Indiana', 'IN', '18', 'Iowa', 'IA', '19', 'Kansas', 'KS', '20', 'Kentucky', 'KY', '21', 'Louisiana', 'LA', '22', 'Maine', 'ME', '23', 'Maryland', 'MD', '24', 'Massachusetts', 'MA', '25', 'Michigan', 'MI', '26', 'Minnesota', 'MN', '27', 'Mississippi', 'MS', '28', 'Missouri', 'MO', '29', 'Montana', 'MT', '30', 'Nebraska', 'NE', '31', 'Nevada', 'NV', '32', 'New Hampshire', 'NH', '33', 'New Jersey', 'NJ', '34', 'New Mexico', 'NM', '35', 'New York', 'NY', '36', 'North Carolina', 'NC', '37', 'North Dakota', 'ND', '38', 'Ohio', 'OH', '39', 'Oklahoma', 'OK', '40', 'Oregon', 'OR', '41', 'Pennsylvania', 'PA', '42', 'Rhode Island', 'RI', '44', 'South Carolina', 'SC', '45', 'South Dakota', 'SD', '46', 'Tennessee', 'TN', '47', 'Texas', 'TX', '48', 'Utah', 'UT', '49', 'Vermont', 'VT', '50', 'Virginia', 'VA', '51', 'Washington', 'WA', '53', 'West Virginia', 'WV', '54', 'Wisconsin', 'WI', '55', 'Wyoming', 'WY', '56', 'American Samoa', 'AS', '60', 'Guam', 'GU', '66', 'Northern Mariana Islands', 'MP', '69', 'Puerto Rico', 'PR', '72', 'Virgin Islands', 'VI', '78 ']

In [24]:
len(wowtext4)

165

In [25]:
stateName = wowtext4[0::3]
stateAbb = wowtext4[1::3]
stateCode = wowtext4[2::3]

In [26]:
len(stateCode),len(stateAbb),len(stateCode)

(55, 55, 55)

In [27]:
with open("state_codes.txt", "w") as fp:
    json.dump(stateCode, fp)

In [28]:
with open("state_abbrs.txt", "w") as fp:
    json.dump(stateAbb, fp)

In [29]:
with open("state_names.txt", "w") as fp:
    json.dump(stateName, fp)

In [62]:
with open("state_extns.txt", "w") as fp:
    json.dump(extents, fp)

extents = [[-89,-84.5,30.,35.5],
           [],
           [],
           [],
           [],
           [-108,-103,38,41],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [-82,-73,38,43],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
           [],
]

In [34]:
import pandas as pd

In [59]:
stateIds = {
           "State": stateAbb,
           "Extent": extents
        }
df2 = pd.DataFrame(stateIds)
df2.head(6)

  State                    Extent
0    AL  [-89, -84.5, 30.0, 35.5]
1    AK                        []
2    AZ                        []
3    AR                        []
4    CA                        []
5    CO      [-108, -103, 38, 41]

In [60]:
df2.to_csv('data.csv')